* {
  margin: 0;
  --neon-green: #93ff9c;
  letter-spacing: 1px;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

p {
  text-align: left;
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  --neon-green: #93ff9c;
}

.btn {
  border-radius: 0px;
  background-color: var(--neon-green);
  color: black;
  padding: 22px 38px;
  border: 1px solid var(--neon-green);
  -webkit-transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  position: relative;
}

.btn span {
  display: inline-block;
  position: relative;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: transform;
}

.btn svg {
  position: absolute;
  width: 1.1em;
  right: 0rem;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.banner .btn {
  margin-top: 20px;
}

.show-on-hover {
  width: 0px;
  overflow: hidden;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: solid 1px var(--neon-green);
}

.navbar-nav.ml-auto {
  flex-direction: row;
  justify-content: center;
}

.navbar-nav.ml-auto .nav-link {
  padding-left: 8px;
  padding-right: 8px;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.2rem;
  color: white;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--neon-green);
  font-weight: bold;
}

.navbar-light .navbar-toggler {
  border-radius: 0px;
  border-color: var(--neon-green);
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar .fa-bars {
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.navbar-light .navbar-toggler:active,
.navbar-light .navbar-toggler:focus {
  outline: none;
}

.page-content {
  padding-bottom: 5%;
  min-height: 100%;
  margin-bottom: -160px;
  background-color: white;
}

.page-content:after {
  content: "";
  display: block;
  height: 160px;
}

.banner {
  width: 100%;
  height: 460px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: max(3%, 30px);
}

.home-banner {
  height: 600px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.1)
  ), url(https://d2vff3mk7ylu21.cloudfront.net/home-highres.jpg);
  background-position: 50% -50px;
}

.banner-text {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  color: white;
  text-shadow: -2px 2px black;
}

.banner-text h1 {
  max-width: 800px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.intro {
  max-width: 900px;
  margin: 50px auto 30px auto;
}

.home-intro {
  max-width: 1200px;
  padding-top: 10px;
  padding-bottom: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-intro-section {
  margin: 30px;
  width: 300px;
}

.home-intro-section p {
  text-align: center;
}

.home-intro-section img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 30px;
  border: solid 2px var(--neon-green);
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  margin: 30px;
  border: solid 1px #ddd;
  border-left: none;
  box-shadow: -5px 5px 5px 0px #ddd;
  color: black;
  min-width: 251px;
}

hr {
  margin-top: 30px;
  margin-bottom: 40px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.clients-header {
  margin-top: 30px;
  font-weight: 300;
}

.blog-preview-container {
  width: 350px;
  height: 500px;
}

.program-preview-container {
  max-width: 900px;
}

.client-preview-container {
  width: 300px;
  height: 320px;
}

.client-preview-container h4 {
  margin-top: 20px;
}

.item h3,h4 {
  font-weight: 300;
}

.item img {
  object-fit: cover;
}

.blog-preview-container img {
  width: 100%;
  height: 250px;
}

.program-preview-container img {
  width: 250px;
  height: 250px;
}

.client-preview-container img {
  width: 100%;
  height: 250px;
  object-position: top;
  border-bottom: solid 1px #eee;
}

.blog-preview {
  text-align: left;
  padding: 20px;
  height: 240px;
  overflow: hidden;
  background-image: linear-gradient(rgb(33, 37, 41), rgb(33, 37, 41), rgb(33, 37, 41), white);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.program-preview {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.blog-preview * {
  font-family: Roboto, sans-serif !important;
  color: transparent !important;
  background-color: transparent !important;
}

.blog-preview p, .program-preview p {
  font-size: 1rem;
}

.program-preview-text {
  padding: 20px;
  width: max(calc(100% - 251px), 251px);
  height: 240px;
  overflow: hidden;
  background-image: linear-gradient(rgb(33, 37, 41), rgb(33, 37, 41), rgb(33, 37, 41), white);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.podcast-episodes {
  margin-top: 30px;
}

.podcast-episode {
  width: 100%;
  max-width: 850px;
  height: 200px;
  margin-top: 30px;
  border-radius: 0px;
  border: solid 1px #ddd;
  box-shadow: -5px 5px 5px 0px #ddd;
}

.blog-post {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.blog-post img {
  width: 100%;
  margin-bottom: 30px;
}

.blog-post h1 {
  font-weight: 300;
}

.blog-post * {
  text-align: left;
  font-family: Roboto, sans-serif !important;
}

.blog-post p,span {
  font-size: 1.2rem !important;
}

.blog-post strong {
  font-weight: 400;
}

.footer {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0px;
}

.footer a {
  text-decoration: underline;
}

.affiliates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.affiliates img {
  height: 30px;
  margin: 10px;
}

.article {
  margin-top: 50px;
}

.not-found {
  margin-top: 50px;
}

@media all and (hover: hover) {
  .navbar-light .navbar-nav .nav-link:hover {
    color: var(--neon-green);
  }

  .item:hover {
    color: black;
    text-decoration: none;
  }

  .btn:hover {
    background-color: black;
    color: white;
    border: 1px solid var(--neon-green);
  }

  .btn:hover span {
    -webkit-transform: translate3d(-1rem, 0, 0);
            transform: translate3d(-1rem, 0, 0);
  }

  .btn:hover svg {
    opacity: 1;
    right: -2rem;
  }
}

@media all and (max-width: 991px) {
  .navbar {
    background-color: black;
  }

  .home-banner {
    background-position: 50% 15px;
  }
}

@media all and (max-width: 673px) {
  .page-content {
    margin-bottom: -210px;
  }
  
  .page-content:after {
    height: 210px;
  }
  
  .footer {
    height: 210px;
  }
}

@media all and (max-width: 661px) {
  h1 {
    font-size: 2rem;
  }

  .program-preview-container,
  .program-preview-container img,
  .program-preview-text {
    width: 300px;
  }

  .item {
    margin-left: 0px;
    margin-right: 0px;
  }
}
